CONFIG_KEXEC=y
CONFIG_CRASH_DUMP=y
CONFIG_DEBUG_INFO=y
CONFIG_FRAME_POINTER=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_KGDB=y
CONFIG_KGDB_KDB=y
CONFIG_EARLY_PRINTK=y
CONFIG_HARDLOCKUP_DETECTOR=y
# Fix debug config for newer kernels
CONFIG_DEBUG_INFO_NONE=n
CONFIG_DEBUG_INFO_DWARF5=y
CONFIG_DEBUG_INFO_DWARF4=n
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=n
