# NI Linux RT boot loader config

set timeout=0
set timeout_style="menu"

set linux_console="console=tty0 console=ttyS0,115200n8"
set linux_verbosity="debug"
set linux_args="efi_no_storage_paranoia"

set root_device_fslabel=""
probe --set root_device_fslabel --label "$root"

set root_device_fsuuid=""
probe --set root_device_fsuuid --fs-uuid "$root"

load_env -f /grub/grubenv

set otherbootargs="rootwait rw usbcore.usbfs_memory_mb=0 consoleblank=0 rcu_nocbs=all "

set usb_gadget_args="g_ether.idVendor=${USBVendorID} g_ether.idProduct=${USBProductID} g_ether.iProduct=${USBProduct}[${hostname}] g_ether.iSerialNumber=${SerialNum} g_ether.dev_addr=${usbgadgetethaddr} g_ether.bcdDevice=${USBDevice}"

for cfg_d_file in /bootimage.cfg.d/*.cfg; do
    source "$cfg_d_file"
done

menuentry "NI Linux RT ($root_device_fslabel, $root_device_fsuuid)" {
    linux /bzImage rootfstype=ramfs rauc.slot=$root_device_fslabel rauc.slot.uuid=$root_device_fsuuid $linux_console $linux_verbosity $linux_args $otherbootargs $usb_gadget_args
    initrd /initrd.cpio.gz
    boot
}
