 _   _ ___   _     _                    ____ _____
| \\ | |_ _| | |   (_)_ __  _   ___  __ |  _ \\_   _|
|  \\| || |  | |   | | '_ \\| | | \\ \\/ / | |_) || |
| |\\  || |  | |___| | | | | |_| |>  <  |  _ < | |
|_| \\_|___| |_____|_|_| |_|\\__,_/_/\\_\\ |_| \\_\\|_|


NI Linux Real-Time (run mode on \n)

Log in with your NI-Auth credentials.

