[Unit]
Description=NI Target Info Service
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/nitargetinfo start

[Install]
WantedBy=basic.target
