# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "5"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
	${GIT_REPODIR}/meta-cloud-services \
	${GIT_REPODIR}/meta-cloud-services/meta-openstack \
	${GIT_REPODIR}/meta-ivi/meta-ivi \
	${GIT_REPODIR}/meta-java \
	${GIT_REPODIR}/meta-mingw \
	${GIT_REPODIR}/meta-mono \
	${GIT_REPODIR}/meta-nilrt \
	${GIT_REPODIR}/meta-openembedded/meta-filesystems \
	${GIT_REPODIR}/meta-openembedded/meta-gnome \
	${GIT_REPODIR}/meta-openembedded/meta-initramfs \
	${GIT_REPODIR}/meta-openembedded/meta-multimedia \
	${GIT_REPODIR}/meta-openembedded/meta-networking \
	${GIT_REPODIR}/meta-openembedded/meta-oe \
	${GIT_REPODIR}/meta-openembedded/meta-perl \
	${GIT_REPODIR}/meta-openembedded/meta-python \
	${GIT_REPODIR}/meta-openembedded/meta-webserver \
	${GIT_REPODIR}/meta-openembedded/meta-xfce \
	${GIT_REPODIR}/meta-qt5 \
	${GIT_REPODIR}/meta-qt5-extra \
	${GIT_REPODIR}/meta-rauc \
	${GIT_REPODIR}/meta-sdr \
	${GIT_REPODIR}/meta-security \
	${GIT_REPODIR}/meta-selinux \
	${GIT_REPODIR}/meta-virtualization \
	${GIT_REPODIR}/openembedded-core/meta \
"

BBLAYERS_NON_REMOVABLE ?= " \
	${GIT_REPODIR}/openembedded-core/meta \
"
