# The LCONF_VERSION number should align with the minimum LAYER_CONF_VERSION
# defined in the oe-core:meta/conf/sanity.conf file.
LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
	${NILRT_ROOT}/sources/openembedded-core/meta \
	${NILRT_ROOT}/sources/meta-openembedded/meta-oe \
	${NILRT_ROOT}/sources/meta-openembedded/meta-filesystems \
	${NILRT_ROOT}/sources/meta-openembedded/meta-gnome \
	${NILRT_ROOT}/sources/meta-openembedded/meta-multimedia \
	${NILRT_ROOT}/sources/meta-openembedded/meta-networking \
	${NILRT_ROOT}/sources/meta-openembedded/meta-perl \
	${NILRT_ROOT}/sources/meta-openembedded/meta-python \
	${NILRT_ROOT}/sources/meta-openembedded/meta-webserver \
	${NILRT_ROOT}/sources/meta-openembedded/meta-xfce \
	${NILRT_ROOT}/sources/meta-openembedded/meta-initramfs \
	${NILRT_ROOT}/sources/meta-mingw \
	${NILRT_ROOT}/sources/meta-nilrt \
	${NILRT_ROOT}/sources/meta-selinux \
	${NILRT_ROOT}/sources/meta-virtualization \
	${NILRT_ROOT}/sources/meta-cloud-services/meta-openstack \
	${NILRT_ROOT}/sources/meta-cloud-services \
	${NILRT_ROOT}/sources/meta-mono \
	${NILRT_ROOT}/sources/meta-security \
	${NILRT_ROOT}/sources/meta-orgconf \
	${NILRT_ROOT}/sources/meta-sdr \
	${NILRT_ROOT}/sources/meta-java \
	${NILRT_ROOT}/sources/meta-measured \
	${NILRT_ROOT}/sources/meta-qt5 \
	${NILRT_ROOT}/sources/meta-qt5-extra \
	${NILRT_ROOT}/sources/meta-ivi/meta-ivi \
	${NILRT_ROOT}/sources/meta-rauc \
"

BBLAYERS_NON_REMOVABLE ?= " \
	${NILRT_ROOT}/sources/openembedded-core/meta \
"

# Avoid meta-openstack complaining that we are using recipes from it without
# declaring 'openstack' in our DISTRO_FEATURES.
SKIP_META_OPENSTACK_SANITY_CHECK ?= "1"
