[Unit]
Description=NI Embedded UI XML Service
DefaultDependencies=no
Before=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/nisetembeddeduixml start

[Install]
WantedBy=graphical.target
