# Configuration file for fw_(printenv/saveenv) utility.
# Up to two entries are valid, in this case the redundand
# environment sector is assumed present.

# Device name		Device offset	Env. size	Flash sector size
/dev/ubi0:u-boot-env1	0x0000		0x20000		0x20000
/dev/ubi0:u-boot-env2	0x0000		0x20000		0x20000
