SUBSYSTEM=="net", ENV{networking}!="done", ENV{skipped}="yes"
SUBSYSTEM=="net", ENV{networking}=="done", ENV{skipped}="no", RUN+="/etc/udev/scripts/hotplug.script"
