[Unit]
Description=Clean /var/cache Directory
ConditionPathIsDirectory=/var/cache
After=network.target

[Service]
Type=oneshot
ExecStartPre=/bin/echo Cleaning up the /var/cache directory
ExecStart=/bin/rm -rf /var/cache

[Install]
WantedBy=multi-user.target
