[Unit]
Description=Mount User Filesystem Service
DefaultDependencies=no
After=local-fs.target
ConditionPathExists=/etc/natinst/safemode

[Service]
Type=oneshot
ExecStart=/lib/systemd/scripts/mountuserfs start
ExecStop=/lib/systemd/scripts/mountuserfs stop

[Install]
WantedBy=multi-user.target
