[Unit]
Description=Mount Config Partition
After=network.target

[Service]
Type=oneshot
ExecStart=/lib/systemd/scripts/mountconfig start
ExecStop=/lib/systemd/scripts/mountconfig stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
