[Unit]
Description=Compute the reason for being in safe mode
DefaultDependencies=no
After=local-fs.target
ConditionPathExists=/etc/natinst/safemode

[Service]
Type=oneshot
ExecStart=/lib/systemd/scripts/nisafemodereason

[Install]
WantedBy=multi-user.target
