[Unit]
Description=Wireless Set Domain

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/wirelesssetdomain

[Install]
WantedBy=multi-user.target
